@model KodiMax.Models.User

@{
    ViewBag.Title = "Login";
}
<link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/login-util.css">
<link rel="stylesheet" type="text/css" href="~/Content/login.css">


@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <table>
                        <tr>
                            <th style="padding-left:50px">
                                <div class="login100-pic js-tilt" data-tilt>
                                    <img src="~/images/img-01.png" alt="IMG">
                                </div>
                            </th>
                            <th style="padding-left:180px; padding-top:50px; padding-bottom: 50px">
                                <form class="login100-form validate-form">
                                    <span class="login100-form-title">
                                        KodiMax Login
                                    </span>

                                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                        @Html.EditorFor(model => model.Username, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "input100",
                                                @type = "text",
                                                @name = "email",
                                                @placeholder = "Username"
                                            }
                                        })
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                        <span class="focus-input100">
                                        </span>
                                        <span class="symbol-input100">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </span>
                                    </div>

                                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                                        @Html.EditorFor(model => model.Password, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "input100",
                                                @type = "password",
                                                @name = "pass",
                                                @placeholder = "Password"
                                            }
                                        })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        <span class="focus-input100"></span>
                                        <span class="symbol-input100">
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                        </span>
                                    </div>

                                    <div class="container-login100-form-btn">
                                        <button class="login100-form-btn">
                                            Login
                                        </button>
                                    </div>
                                </form>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
}


<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/vendor/select2/select2.min.js"></script>
<script src="~/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<script src="~/Scripts/login.js"></script>